.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.wrap{
    display: flex;
    width: 100%;
    /* max-width: 1440px; */
}
.wrap1{
    background-image: url(../../assets/mainbg1.png);
    background-size: cover;
    background-position: center;
   min-height: 100vh;
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.box{
    border-radius: 6.098px;
background: rgba(0, 0, 0, 0.3);
padding: 8%;
}
.box,.vsbtn{
    transition:  transform 0.3s ease-in-out;
}
.animation{
    display: none;
}
.wrap1:hover .animation{
    display: block;
    transform: scale(1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.animation>span{
    color: #B3B3B3;
text-align: center;
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
cursor: pointer;
}
.wrap1:hover .box {
    transform: translateY(-41%);
}
.wrap1:hover .vsbtn {
    transform: translateY(25%);
}
.wrap1:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.92) 0%, rgba(0, 0, 0, 0.92) 100%), url(../../assets/mainbg1.png), lightgray 4px -129.717px / 99.444% 157.997% no-repeat;

}
/* animate2 */
.box{
    border-radius: 6.098px;
background: rgba(0, 0, 0, 0.3);
padding: 8%;
}
.box,.vsbtn{
    transition:  transform 0.3s ease-in-out;
}
.animation2{
    display: none;
}
.wrap2:hover .animation2{
    display: block;
    transform: scale(1);
    display: flex;
    align-items: center;
    gap: 12px;
   
}
.aleft,.aright{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.aleft>span,.aright>span{
    color: #B3B3B3;
text-align: center;
font-family: Nunito;
font-size: 16px; 
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
cursor: pointer;
}
.wrap2:hover .box {
    transform: translateY(-41%);
}
.wrap2:hover .vsbtn {
    transform: translateY(25%);
}
.wrap2:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.92) 0%, rgba(0, 0, 0, 0.92) 100%), url(../../assets/mainbg2.png), lightgray 4px -129.717px / 99.444% 157.997% no-repeat;

}


/* animate2 e */

.vsbtn{
    border-radius: 6px;
background: var(--G1, linear-gradient(180deg, #3BFFBA 0%, #3BDBFF 100%));
display: flex;
width: 200px;
height: 52px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
color: #323232;
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
}
.wrap2{
    background-image: url(../../assets/mainbg2.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:768px){


    .wrap{
        flex-direction: column;
    }
    .wrap1,.wrap2{
        width: 100%;
        min-height: 100vh;
    }
    .box{
        padding: 8% 10%;
    }
    .box>img{
        width: 113px;
        height: 30px;
    }
    .vsbtn{
        display: flex;
width: 160px;
height: 40px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 6px;
    }
    .animation>span{
        font-size: 14px;
    }
    .aleft>span,.aright>span{
        font-size: 14px;
    }
}